  $blue: #0057FF;

  .menu {
    width: 270px;
    height: 100%;
    margin-top: 30px;
    margin-left: 10px;
    .container {
      margin: 20px 0;
    }
    .hide {
      display: inline-block;
      width: 0;
      overflow: hidden;
      transition: all .5s ease;
    }
    .wrapper {
      width: 270px;
      height: 30px;
    }
    p {
      font-family: 'Roboto';
      color: #0057ff;
      opacity: 0;
      transition: opacity .8s ease;
      font-size: 1.4em;
    }
    .btn {
      width: 50px;
      height: 50px;
      border: 1.5px solid #0057ff;
      border-radius: 50px;
      display: inline-block;

    }
    .container a:hover .a {
      width: 170px;
    }
    .container a:hover .b {
      width: 80px;
    }
    .container a:hover .c {
      width: 130px;
    }
    .container a:hover p {
      opacity: 1;
      transition: opacity .4s ease;
    }
  /* .container a:hover .btn {
    background-color: #0057ff;
    transition: all .5s ease;
  } */
    a {
      text-decoration: none;
    }
    .one {
      width: 170px;
    }
    .two {
      width: 80px;
    }
    .three {
      width: 130px;
    }
    .cross {
      background: url(https://s3.eu-central-1.amazonaws.com/buildevent/cross.svg?response-content-disposition=inline&X-Amz-Security-Token=FQoDYXdzEKH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDOrn2FvZdj8zQieSKyK4A03XoG5O7EaKtZYZG4F9JhhDN%2FJS2S8iDRbHiJ0XRvF4wJsXEWB4OSdpc1Qa%2FLdbzVwq8dvTIv3%2FZk5GLHoUjJ9u3xpddYNR%2BaTYOee8kIOnTceclJHDWwyGNC8NGEy%2FfHG0srhJJ4Lmqwml3rBqdWTRSyFaRt8gHHi6aymn2CXTvJ6V6IqgmybH0W0HZ8%2FYOpXSMKGFVNzEZ0ahobnuXpZxRykHRTGX2%2BBBeKPIp3Gsac%2FpW4svCd71ufGxR2I65qV7N%2FZaHD15f8AFP0AVbk4mAvUGbiU17443KwlLSJ1cVrB1Fmx7SgHYTtDlVdpwydtFeYeicddwBWX8vNOqNb1lsEki0u4ws4NVGnl5nosIq80mzawefVUz20JhSUv1FrASjB4n1Dy5npJWVOaCCeRc5cU5pf1sbR39guqd5XnLfGO4NhRaW0J0%2FqSFL6f3qlHokhlGyQYNkmZHP%2FbO9RuAKjswBhGBvT46xW9DzFE%2FPX%2Br3wNX8LwvopnTvdHParMQvdN3Wyz%2FnMOGPmWACPNYMJZ9F2dnmCef4IC2gB35%2B2PzTeP0DcDl4U9k6Xst%2Fpn3wF6t0SfTKJWp3tgF&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180606T081042Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJ2CNWJCXXD7SWJZQ%2F20180606%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=2dfd6d4eceb2ef796d660ccf1c7413e99c8be28ef2b8fc245321463cf7e15fed);
      width: 30px;
      height: 30px;
      position: relative;
      top: 9px;
      left: 9.5px;
    }
    .home {
      background: url(https://s3.eu-central-1.amazonaws.com/buildevent/home.svg?response-content-disposition=inline&X-Amz-Security-Token=FQoDYXdzEKH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDOrn2FvZdj8zQieSKyK4A03XoG5O7EaKtZYZG4F9JhhDN%2FJS2S8iDRbHiJ0XRvF4wJsXEWB4OSdpc1Qa%2FLdbzVwq8dvTIv3%2FZk5GLHoUjJ9u3xpddYNR%2BaTYOee8kIOnTceclJHDWwyGNC8NGEy%2FfHG0srhJJ4Lmqwml3rBqdWTRSyFaRt8gHHi6aymn2CXTvJ6V6IqgmybH0W0HZ8%2FYOpXSMKGFVNzEZ0ahobnuXpZxRykHRTGX2%2BBBeKPIp3Gsac%2FpW4svCd71ufGxR2I65qV7N%2FZaHD15f8AFP0AVbk4mAvUGbiU17443KwlLSJ1cVrB1Fmx7SgHYTtDlVdpwydtFeYeicddwBWX8vNOqNb1lsEki0u4ws4NVGnl5nosIq80mzawefVUz20JhSUv1FrASjB4n1Dy5npJWVOaCCeRc5cU5pf1sbR39guqd5XnLfGO4NhRaW0J0%2FqSFL6f3qlHokhlGyQYNkmZHP%2FbO9RuAKjswBhGBvT46xW9DzFE%2FPX%2Br3wNX8LwvopnTvdHParMQvdN3Wyz%2FnMOGPmWACPNYMJZ9F2dnmCef4IC2gB35%2B2PzTeP0DcDl4U9k6Xst%2Fpn3wF6t0SfTKJWp3tgF&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180606T081110Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJ2CNWJCXXD7SWJZQ%2F20180606%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=13ab9d6f2ea2e46384c4b112ebfe53e13150e07b7185ea1516537d61d7bec94a);
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
      position: relative;
      top: 10.5px;
      left: 10px;
    }
    .user {
      background: url(https://s3.eu-central-1.amazonaws.com/buildevent/user.svg?response-content-disposition=inline&X-Amz-Security-Token=FQoDYXdzEKH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDOrn2FvZdj8zQieSKyK4A03XoG5O7EaKtZYZG4F9JhhDN%2FJS2S8iDRbHiJ0XRvF4wJsXEWB4OSdpc1Qa%2FLdbzVwq8dvTIv3%2FZk5GLHoUjJ9u3xpddYNR%2BaTYOee8kIOnTceclJHDWwyGNC8NGEy%2FfHG0srhJJ4Lmqwml3rBqdWTRSyFaRt8gHHi6aymn2CXTvJ6V6IqgmybH0W0HZ8%2FYOpXSMKGFVNzEZ0ahobnuXpZxRykHRTGX2%2BBBeKPIp3Gsac%2FpW4svCd71ufGxR2I65qV7N%2FZaHD15f8AFP0AVbk4mAvUGbiU17443KwlLSJ1cVrB1Fmx7SgHYTtDlVdpwydtFeYeicddwBWX8vNOqNb1lsEki0u4ws4NVGnl5nosIq80mzawefVUz20JhSUv1FrASjB4n1Dy5npJWVOaCCeRc5cU5pf1sbR39guqd5XnLfGO4NhRaW0J0%2FqSFL6f3qlHokhlGyQYNkmZHP%2FbO9RuAKjswBhGBvT46xW9DzFE%2FPX%2Br3wNX8LwvopnTvdHParMQvdN3Wyz%2FnMOGPmWACPNYMJZ9F2dnmCef4IC2gB35%2B2PzTeP0DcDl4U9k6Xst%2Fpn3wF6t0SfTKJWp3tgF&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180606T081134Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJ2CNWJCXXD7SWJZQ%2F20180606%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=6a63f39f0601e8f338ba1d7ddf887ebc2177e4303fb92e170a605f4aab606557);
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      position: relative;
      top: 8px;
      left: 10.5px;
    }
}
