<h1>Editing Event</h1>
<% if @event.user_id == @current_user.id %>
  <%= render 'form', event: @event %>
<% else %>
  <p>Vous n'avez pas la permission de modifier cet event</p>
<% end %>
<%= link_to 'Show', @event %>
<%= link_to 'Back', events_path %>
