$blue: #0057FF;

.indexCalendar {
  width: 50%;
  margin: 15px 120px 0 120px;
}
.simple-calendar {
  svg {
    width: 22px;
    height: 22px;
  }
  #next {
    margin-left: 11px;
  }
  a {
    text-decoration: none;
  }
  table {
    border-spacing: 1.8em;
    border-collapse: separate;
    margin: auto;
    width: 100%;
  }
  .calendar-heading {
    text-align: center;
  }
  .calendar-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0 20px;
  }
  .day {
    border: 1.7px solid $blue;
    border-radius: 7px;
    min-width: 53px;
    height: 48px;
    text-align: center;
    padding-top: 5px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border-width: 2.5px;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    opacity: .3;
  }
  .next-month {
    opacity: .3;
  }
  .current-month {
    font-size: .9em;
  }

  .has-events {}

  #round {
    width: 10px;
    height: 10px;
    border: 1.2px solid $blue;
    border-radius: 50px;
    display: inline-block;
  }
  #roundBlock {
    margin-top: 10px;
    margin-left: -15px;
  }
  #round a {
    color: transparent;
  }
}
