$blue: #0057FF;

#blueE {
  color: $blue;
}
.indexEvents {
  width: 25%;
  margin-top: 15px;
}
.containerMargin {
  margin-left: 20px;
}
.indexEvents h1 {
  font-size: 1.8em;
  margin-bottom: 1.55em;
}
.eventsFlex {
  display: flex;
  margin-bottom: 1em;
}
.eventsFlex .date {
  min-width: 70px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  text-align: center;
}
.eventsFlex .date .number {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 20px;
  color: black;
}
.eventsFlex .date .month {
  margin-top: 5px;
  font-weight: bold;
  font-size: .9em;
  color: black;
}
.eventInfos {
  margin-left: 15px;
  h3 a {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid $blue;
    font-size: 1em;
    line-height: 1.2;
  }
  .place {
    font-style: italic;
    margin-top: 10px;
    font-size: .9em;
  }
  .user {
    margin-top: 5px;
  }
}
