$blue: #0057FF;

.indexCalendar {
  width: 50%;
}
.simple-calendar {
  table {
    border-spacing: 1.8em;
    border-collapse: separate;
  }
  .calendar-heading {
    font-size: 2em;
    text-align: center;
  }
  .day {
    border: 1.5px solid $blue;
    border-radius: 10px;
    min-width: 55px;
    height: 48px;
    text-align: center;
    padding-top: 5px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border-width: 2.5px;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    opacity: .3;
  }
  .next-month {
    opacity: .3;
  }
  .current-month {
    font-size: .9em;
  }

  .has-events {}

  #round {
    width: 10px;
    height: 10px;
    border: 1px solid $blue;
    border-radius: 50px;
    display: inline-block;
  }
  #roundBlock {
    margin-top: 10px;
    margin-left: -15px;
  }
  #round a {
    color: transparent;
  }
}
